.d-table {
  display: table;
  width: 100%;
}
.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.header-table {
  border-bottom: 1px solid #ccc;
}
.page-content {
  margin: 20px 0;
}
#item-img {
  width: 100px;
}
.table-items td {
  vertical-align: middle;
}
.hide {
  display: none;
}
